{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}


<h3 class="ui dividing header">Convocatoria: {{convocatoria.titulo}}</h3>


<div class="ui raised segment">
		{{convocatoria.descripcion}}
</div>

<div class="ui grid">
	
	<div class="two wide column">
		<div class="ui raised segment">
		Desde: {{convocatoria.fecha_desde}}
		</div>
	</div>

	<div class="two wide column">
		<div class="ui raised segment">
		Hasta: {{convocatoria.fecha_hasta}}
		</div>
	</div>

</div>

<div id="desafios_tab">

  <div class="ui secondary menu">
    <a class="item active" data-tab="desafios_data_tab">Desafíos</a>
    <a class="item" data-tab="documentos_data_tab">Documentos</a>
    <a class="item" data-tab="participantes_data_tab">Participantes</a>
  </div>

  <div class="ui active tab segment" data-tab="desafios_data_tab">


		<a class="ui icon button" href="#" onclick="modal_desafio_new()">
  				<i class="plus icon"></i>
		</a>

     <div id="desafios" class="ui relaxed divided list">

     </div>
  		
    
  </div>

  <div class="ui  tab segment" data-tab="documentos">

    	<ul>
    	{% for documento in documentos %}
    			<li>{{documento}}</li>
    	{% endfor %}
    	</ul>

  </div>
  <div class="ui tab segment" data-tab="participantes">
    	<ul>
    		{% for participante in participantes %}
    			<li>{{participante}}</li>
    		{% endfor %}
    	</ul>
  </div>

</div>


<!-- MODALES -->

<div class="ui modal">
  <div class="header">Nuevo Desafío</div>

  <div class="content">
    
   <form 
           action="{% url 'desafio:desafio_new' %}" 
           name="form-desafio-new" id="form-desafio-new" 
           method="post">

     {% csrf_token %}

     <div class="ui form">

    <div class="field">
          <label>Titulo</label>
          <input type="text" name="titulo" id="titulo" placeholder="Titulo">
    </div>
   
    <div class="field">
        <label>Descripcion</label>
        <textarea name="descripcion" id="descripcion" cols="30" rows="3" placeholder="Descripcion"></textarea>
    </div>
  
   <div class="fields">
    <div class="field">
        <label>Etiquetas</label>
        <input type="text" placeholder="Etiquetas">
    </div>
   
    <div class="inline field">
     <div class="ui checkbox">
      <input type="checkbox" tabindex="0" class="hidden">
      <label>Votable</label>
     </div>
     </div>
   </div>

   </div>
   <input type="hidden" name="convocatoria_id" id="convocatoria_id" value="{{convocatoria.id}}">


  <div class="actions">
    <div class="ui red cancel inverted button">
      <i class="remove icon"></i>
        Cancelar
    </div>
    <div class="ui green ok inverted button">
       <a href="#" onclick="desafio_new()">
          <i class="checkmark icon"></i>
          Guardar
       </a>
    </div>
  </div>

  </form>

</div>
</div>


{% endblock %}

{% block js %}
  <script src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.2.0.min.js"></script>
	<script src="{% static 'js/padmin.js' %}"></script>
{% endblock %}
