{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}


<h3 class="ui dividing header">{{convocatoria.titulo}}</h3>
<h5>Del {{convocatoria.fecha_desde}} al {{convocatoria.fecha_hasta}}</h4>


<div class="ui raised segment">
		{{convocatoria.descripcion}}
</div>

<!-- <div class="ui grid">
	
	<div class="two wide column">
		<div class="ui raised segment">
		Desde: {{convocatoria.fecha_desde}}
		</div>
	</div>

	<div class="two wide column">
		<div class="ui raised segment">
		Hasta: {{convocatoria.fecha_hasta}}
		</div>
	</div>

</div>
 -->

 <a class="ui icon button" href="#" onclick="modal_desafio_new()">
          <i class="plus icon"></i>
</a>

<div id="convocatoria_desafios_tab">

  <div class="ui secondary menu">
    <a class="item active" data-tab="desafios_data_tab">Desafíos</a>
    <a class="item" data-tab="notas_data_tab">Notas</a>
  </div>



  <div class="ui active tab segment" data-tab="desafios_data_tab">


     <!-- Lista de Desafios --> 
     <div id="desafios" class="ui divided items"></div>
  		
    
  </div>

  <div class="ui  tab segment" data-tab="reglas_data_tab">
  <p>Reglas varias</p>
  
  </div>

</div>


<!-- *************** VENTANAS MODALES  ************************************************************ -->


<div id="modal_desafio_new" class="ui modal">
  <div class="header">Nuevo Desafío</div>

  <div class="content">
    
   <form 
           action="{% url 'desafio:desafio_new' %}" 
           name="form-desafio-new" id="form-desafio-new" 
           method="post">

  <div class="ui form">

    <div class="field">
          <label>Titulo</label>
          <input type="text" name="titulo" id="titulo" placeholder="Titulo">
    </div>
   
    <div class="field">
        <label>Descripcion</label>
        <textarea name="descripcion" id="descripcion" cols="30" rows="3" placeholder="Descripcion"></textarea>
    </div>
  

   </div>
   <input type="hidden" name="convocatoria_id" id="convocatoria_id" value="{{convocatoria.id}}">


  <div class="actions">
    <div class="ui red cancel inverted button">
      <i class="remove icon"></i>
        Cancelar
    </div>
    <div id="desafio_guardar" class="ui green ok inverted button">
       <!--<a convocatoria_id={{convocatoria.id}} data-url="{% url 'desafio:desafio_new' %}" 
                                              href="#" onclick="desafio_new(this)">-->
          <i class="checkmark icon"></i>
          Guardar
       </a>
        {% csrf_token %}
    </div>
  </div>

  </form>

</div>
</div>


{% endblock %}

{% block js %}
  <script src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.2.0.min.js"></script>
	<script src="{% static 'js/padmin.js' %}"></script>
{% endblock %}
