{% extends 'base.html' %}

{% block content %}


<h3 class="ui dividing header">Convocatoria</h3>

<form action="." class="ui form" method="POST">

  {% csrf_token %}
 
  
  <h4 class="ui dividing header">Qué</h4>
  <div class="field">
    <label>Titulo</label>
    <input type="text" name="titulo" placeholder="Titulo" value="{{convocatoria.titulo}}">
  </div>
  <div class="field">
    <label>Descripcion</label>
    <textarea name="descripcion" rows="2" 
             placeholder="Descripcion">{{convocatoria.descripcion}}</textarea>
  </div>

 
  <!-- DONDE -->  
  <h4 class="ui dividing header">Donde</h4>
  <div class="two fields">
    <div class="field">
      <label>Lugar</label>
            <input type="text" name="lugar" placeholder="Lugar"  value="{{convocatoria.lugar}}">
    </div>
    <div class="field">
      <label>Ciudad</label>
      <div class="ui fluid search selection dropdown">
        <input type="hidden" name="ciudad">
        <i class="dropdown icon"></i>
        <div class="default text">Seleccionar Ciudad</div>
          <div class="menu">
            <div class="item" data-value="af">Pehuajó</div>
            <div class="item" data-value="ax">Madero</div>
          </div>
       </div>
    </div>
  </div>

  <!-- CUANDO -->
  <h4 class="ui dividing header">Cuándo</h4>

  <div class="fields">
    <div class="eight wide field">
      <label>Desde</label>
      <input type="date" name="fecha_desde" placeholder="Desde"  value="{{convocatoria.fecha_desde| date:'d/M/Y'}}">
    </div>
    <div class="eight wide field">
      <label>Hasta</label>
      <input type="date" name="fecha_hasta" placeholder="Hasta"  value="{{convocatoria.fecha_hasta}}">
    </div>
  </div>


  <!-- Temáticas -->
   <h4 class="ui dividing header">Temáticas</h4>
   <div class="field">
    <label>Etiquetas (separadas por coma)</label>
    <input type="text" name="etiquetas" placeholder="Etiquetas" value="{{convocatoria.tematicas}}">
  </div>

  
  <button class="ui button" type="submit">Guardar</button>

</form>


{% endblock %}